<a href="https://colab.research.google.com/github/brucepercy/DataScienceBootCamp/blob/main/SET_FUNCTIONS_Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Funtions Of Sets
**bold text**

In [ ]:
set_fruits = {"apple", "banana", "orange", "apple", "grape" }
set_num = {1,2,3,4,5,6,7,8,9,10}
my_set = {1,2,3,4,5,6,7,8,9,10, "apple", "banana", "orange", "apple", "grape"}
#dir(set_fruits)
#dir(set_num)
dir(my_set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
# and function
set_num = {1,2,3,4,5,6,7,8,9,10, "banana"}
my_set = {1,2,3,4,5,6,7,8,9,10, "apple", "banana", "orange", "apple", "grape"}
intersect = set_num.__and__(my_set)
print("Intersection of set_num and my_set is: ", intersect)


# ##intersection = set1.__and__(set2)  # Using the __and__ method
# print("Intersection using __and__:", intersection)

Intersection of set_num and my_set is:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'banana'}

In [ ]:
# add() method is used in adding elements to the set

my_set = {1,2,3,4,5, "apple", "banana", "orange", "apple", "grape"}
# my_set.add('Fig', '1') # Takes only one argument at a time , if run gives an error
my_set.add('Fig')
print(my_set)

{1, 2, 3, 4, 5, 'banana', 'Fig', 'grape', 'orange', 'apple'}

In [ ]:
# 'clear' remives all the elements in a set
my_set = {1,2,3,4,5, "apple", "banana", "orange", "apple", "grape"}
print(my_set)
my_set.clear()
print(my_set)

{1, 2, 3, 4, 5, 'banana', 'grape', 'orange', 'apple'}
set()

In [ ]:
 # 'copy' copies the set then we can modify it so there wont be changes in the initial set
original_set = {1, "apple", "banana", "orange", "apple", "grape"}
copied_set = original_set.copy()
print(copied_set)

print()

# Add an element to the copied set
copied_set.add('love')
print(copied_set)

{1, 'orange', 'banana', 'grape', 'apple'}

{1, 'orange', 'banana', 'love', 'grape', 'apple'}
:)

In [ ]:
# Different
set1 = {1,2,3,4,5,6,7, "apple",}
set2 = {1,2,3,4,5}
dif_set = set1.difference(set2) # Finds whats not there in in set2 which is in the set1
print(set1)
print(set2)
print(dif_set)

{1, 2, 3, 4, 5, 6, 7, 'apple'}
{1, 2, 3, 4, 5}
{'apple', 6, 7}

In [ ]:
# Difference_update
set1 = {1, 2, 3, 4, 5, 6, 7, "apple"}
set2 = {1, 2, 3, 4, 5}
set3 = {1, 2, 3, 4, 5, 6, 7, "apple", "orange"}

set1.difference_update(set2)  # Remove elements from set1 that are in set2
#set2.difference_update(set3)  # Remove elements from set2 that are in set3

print("Updated set1:", set1)
#print("Updated set2:", set2)

Updated set1: {6, 7, 'apple'}

In [ ]:
#discard: deleted the element from the set
set1 = {1, 2, 3, 4, 5, 6, 7, "apple"}
set1.discard("apple") # Takes only one argument at a time
print(set1)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# 'intersection' Gives elements that are present in both the sets
set1 = {1, 2, 3, 4, 5, 6, 7, "apple"}
set2 = {"apple", 4, 5, 6, 7}

intersect = set1.intersection(set2)
print(intersect)

{4, 5, 6, 7, 'apple'}

In [ ]:
#'intersection_update'
# Modifies the set to keep the elements on the second set
set1 = {1, 2, 3, 4, 5, 6, 7, "apple"}
set2 = {"apple", 4, 5, 6, 7}

set1.intersection_update(set2)
print(set1)

{4, 5, 6, 7, 'apple'}

In [ ]:
#isdisjoint()
# a  method in Python is used to check that they have no common elements

set1 = {1, 2, 3, 4, 5, 6, 7, "apple"}
set2 = {"apple", 4, 5, 6, 7}

# Check if the sets are disjoint
disjoint = set1.isdisjoint(set2)

if disjoint:
    print("The sets are disjoint.")
else:
    print("The sets have common elements.")

The sets have common elements.

In [ ]:
#  'issubset'

set1 = {1, 2, 3, 4, 5, 6, 7, "apple"}
set2 = {"apple", 4, 5, 6, 7}

#checing if its a subset
is_subset = set1.issubset(set2)

if is_subset:
  print("it is a subset")
else:
  print("No")

In [ ]:
#issuperset

set1 = {1, 2, 3, 4, 5, 6, 7, "apple"}
set2 = {"apple", 4, 5, 6, 7}


#checing if its a superset
is_subset = set1.issuperset(set2)

if is_subset:
  print("It is a superset")
else:
  print("No")

In [ ]:
#pop
set1 = { 2, 3, 4, 5, 6, 7, "apple"}
set2 = {"apple", 4, 5, 6, 7}

# Remove and return an arbitrary /random element
removed_element = set1.pop()

print("Removed element:", removed_element)
print("Updated set:", set1)

In [ ]:
# Remove
set1 = { 2, 3, 4, 5, 6, 7, "apple"}
set2 = {"apple", 4, 5, 6, 7}

# Remove the given element in bracket
set1.remove(2)
set2.remove(6)
print(set1)
print(set2)

In [ ]:
# Symmetric_difference
set1 = { 2, 3, 4, 5, 6, 7, "apple"}
set2 = {"apple", 4, 5, 6, 7}

symmetric_diff_set1 = set1.symmetric_difference(set2)
symmetric_diff_set2 = set2.symmetric_difference(set1)

print("Symmetric difference of set1:", symmetric_diff_set1)
print("Symmetric difference of set2:", symmetric_diff_set2)

In [ ]:
#symmetric_difference_update

set1 = { 2, 3, 4, 5, 6, 7, "apple"}
set2 = {"apple", 4, 5, 6, 7}

set1.symmetric_difference_update(set2)
print(set1)

In [ ]:
# Union
set1 = { 2, 3, 4, 5, 6, 7, "apple"}
set2 = {"apple", 4, 5, 6, 7}

union_set = set1.union(set2)
print(union_set)

{2, 3, 4, 5, 6, 7, 'apple'}

In [ ]:
# Update
set1 = { 2, 3, 4, 5, 6, 7, "apple"}
set2 = {"apple", 4, 5, 6, 7,9}

set1.update(set2)
print(set1)

{2, 3, 4, 5, 6, 7, 9, 'apple'}